body {
  background-image: url("../public/bg-img.jpg");
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  justify-content: space-around; 
  align-items:center ; 
  height: 100%;
  width: 100%; 
}

.game-board {
  padding: 1px; 
}

.square {
  background: rgba(33, 33, 39,0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  color: white;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
  height: 140px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 140px;
  cursor: pointer
}

.status {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.game-info {
  margin-right: 50px;
  margin-top: 90px;
  width: 50vh;
  height: 50vh;
  overflow-y: auto;
  color: white;
  background: rgba(39, 41, 41, 0.4);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.game-board-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 360px;
  align-items: flex-end;
}

.mov-btn {
  padding: 5px ;
  border-radius: 5px;
  height: 35px;
  width: 200px;
  font-size: medium;
  background-color: rgb(46, 45, 45);
  color: white;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer
}

.reset-btn{
  width: 150px;
  height: 50px;
  margin-top: 15px;
  font-size: 20px;  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  background-color: rgb(46, 45, 45);
  color: white;
  cursor: pointer;
  padding: 10px 10px;
}

.name {
  font-size:45px ;
  text-align: center;
  margin: 15px;
  color: white;
}
